.DS_Store
venv
*.pyc
.DS_Store
.env
__pycache__
data/CDC/*
data/NYT/*
data/ZeroOneLabs/*
data/NYT/us-counties-latest.csv
data/NYT/us-latest.csv
data/NYT/us-states-latest.csv
data/NYT/us-counties-latest.csv
data/NYT/us-latest.csv
data/NYT/us-states-latest.csv
